-#  This file is app/views/contamination_sources/index.html.haml
- if (@chemicalElement != nil && @chemicalElement.errors.any?)
  - @chemicalElement.errors.full_messages.each do |error_message| 
    = error_message + '.'

%h2 Kemikaali koostisosad

= form_tag chemical_elements_path do
  %table#chemicalElements
    %thead
      %tr
        %th Cas
        %th Nimetus
        %th Max %
        %th Grupp
        %th
    %tbody
      - @chemicalElements.each do |chemicalElement|
        %tr
          %td #{chemicalElement.group_element.cas}
          %td #{chemicalElement.group_element.name}
          %td #{chemicalElement.max_percent}
          %td #{chemicalElement.group_element.group.name}
          %td
      %tr
        %td= autocomplete_field :chemicalElement, 'code', autocomplete_v_group_element_cas_chemical_elements_path, :update_elements => {:id => '#group_element_id', :name => '#chemicalElement_name', :group_name => '#chemicalElement_group_name'}
        %td= text_field :chemicalElement, 'name', :readonly => true
        %td= text_field :chemicalElement, 'max_percent', :class => "w50"
        %td= text_field :chemicalElement, 'group_name', :readonly=>true
        %td= submit_tag 'Lisa'
        = hidden_field_tag "chemical_id", @chemical_id
        = hidden_field_tag "group_element_id", @group_element_id
          
%br
  
= button_to 'Tagasi', chemicals_path, :method => :get