%h2 Saasteluba

%table#pollutionPermit
  %thead
    %tr
      %th Kemikaal
      %th Aine nimetus
      %th g/s
      %th t/a
      %th mgC/m3
  %tbody
    - @pollPermRows.each do |pollPermRow|
      %tr
        %td #{pollPermRow.chemical_name}
        %td #{pollPermRow.chemical_element_name}
        %td #{pollPermRow.gs}
        %td #{pollPermRow.ta}
        %td #{pollPermRow.mgcm3}
          
%br
  
= button_to 'Excel', print_project_path(@project_id), :method => :get
= button_to 'Tagasi', project_chemicals_project_path(@project_id), :method => :get