%h2 Saasteluba

%table#pollutionPermit
  %thead
    %tr
      %th Saasteallika tähis
      %th Grupi nimetus
      %th g/s
      %th t/a
      %th mgC/m3
  %tbody
    - @pollPermRowsMap.each do |contSourceCode, pollPermRows|
      - pollPermRows.each do |pollPermRow|
        %tr
          %td #{pollPermRow.contamination_source_code}
          %td #{pollPermRow.group_name}
          %td #{pollPermRow.gs.round(4)}
          %td #{pollPermRow.ta.round(4)}
          %td #{pollPermRow.mgcm3.round(2)}
      - totalRow = @totalRows[contSourceCode]
      %tr
        %td{:colspan => 2} 
          %strong #{contSourceCode} kokku:
        %td 
          %strong #{totalRow.gs.round(4)}
        %td 
          %strong #{totalRow.ta.round(4)}
        %td 
          %strong #{totalRow.mgcm3.round(2)}
    %tr
      %td{:colspan => 2} 
        %strong Kõik read kokku:
      %td 
        %strong #{@totalRow.gs.round(4)}
      %td 
        %strong #{@totalRow.ta.round(4)}
      %td 
        %strong #{@totalRow.mgcm3.round(2)}       
%br
  
= button_to 'Trüki heitkogused', print_project_path(@project_id), :method => :get
= button_to 'Tagasi', project_chemicals_project_path(@project_id), :method => :get