-#  This file is app/views/projects/index.html.haml
- if (@project != nil && @project.errors.any?)
  - @project.errors.full_messages.each do |error_message| 
    = error_message + '.'
    
%h2 Projektide nimekiri

= form_tag projects_path do
  %table#projects
    %thead
      %tr
        %th Nimi
        %th
    %tbody
      - @projects.each do |project|
        %tr
          %td #{project.name}
          %td= link_to("Ava projekt", project_chemicals_project_path(project.id)) + ' ' + link_to("Saasteallikad", contamination_sources_project_path(project.id))
      %tr
        %td= text_field :project, 'name'
        %td= submit_tag 'Lisa uus projekt'

= button_to 'Grupid', groups_path, :method => :get
= button_to 'SNAPid', snaps_path, :method => :get
= button_to 'Kemikaalid', chemicals_path, :method => :get